.column {
  @media screen and (max-width: 1199.8px) {
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    text-transform: uppercase;

    color: #ffffff;
    margin-bottom: 20px;
  }
  // &:not(:first-child) {
  //   @media screen and (max-width: 767.9px) {
  //     margin-top: 60px;
  //   }
  // }
}
