.contacts__list {
  @extend %list;

  // display: none;

  @media screen and (min-width: 768px) {
    display: flex;

    margin-left: auto;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__item {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:first-child) {
      margin-left: 50px;
      margin-top: 0;
    }
  }
}

.contacts__link {
  @extend %link;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;

  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color 250ms $transition-timing-function;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-mail {
  width: 16px;
  height: 12px;
  fill: $icon-color;
  margin-right: 10px;

  transition: fill 250ms $transition-timing-function;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $icon-accent;
  }
}

.icon-tel {
  width: 10px;
  height: 16px;
  fill: $icon-color;
  margin-right: 10px;

  transition: fill 250ms $transition-timing-function;

  .contacts__link:hover &,
  .contacts__link:focus & {
    fill: $icon-accent;
  }
}
