.header {
  background-color: $secondary-background-color;
  border-bottom: 1px solid #ececec;

  &__container {
    @extend %container;
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 768px) {
      display: flex;

      align-items: center;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
  }
}
