.mob-menu {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  top: 0;
  left: 0;
  //   padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  &.is-hidden {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
  &__container {
    position: relative;
    @extend %container;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.menu-close__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mob-menu__list {
  @extend %list;
  margin-top: 48px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__link {
  @extend %link;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: $title-color;

  &--active {
    color: $accent-color;
  }
}

.mob-soc__list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.mob-soc__item:not(:last-child) {
  margin-right: 20px;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: flex;
    top: 0;
    right: -10px;

    // margin-left: 20px;
    background: $title-color;
    opacity: 20%;

    width: 1px;
    height: 100%;
    // color: $title-color;
  }
}

.mob-contacts__list {
  @extend %list;
  margin-bottom: 64px;
}
.mob-contacts__item:first-child {
  margin-bottom: 32px;
}

.mob-contacts__link--tel {
  @extend %link;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: $icon-accent;
}

.mob-contacts__link--mail {
  @extend %link;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: $primary-text-color;
}

.mob-soc__link {
  @extend %link;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;

  color: $icon-accent;
}
