.subscribe__column {
  // text-align: center;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-right: 89px;
    margin-left: auto;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;
    margin-top: 12px;
    margin-left: 70px;
  }
}
