.subscribe__column {
  @media screen and (max-width: 767.8px) {
    margin-top: 60px;
  }
  // text-align: center;
  // margin-top: 60px;
  @media screen and (min-width: 768px) {
    // margin-right: 89px;
    // margin-left: auto;
    // margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: auto;

    margin-left: 70px;
  }
}
