.work {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__container {
  @extend %container;
}

.work__list {
  @extend %list;
  display: flex;
  justify-content: center;
  margin: -15px;
}

.work__item {
  position: relative;
  margin: 15px;
}

.work__overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
